
.DS_Store
Thumbs.db
ehthumbs.db


node_modules/
__pycache__/
.venv/
.env
.env.*


.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
compile_commands.json


*.o
*.obj
*.out
*.exe
*.a
*.so
*.dll
*.dylib
*.gch
*.pch
*.d
a.out


build/
bin/
dist/
out/


CMakeFiles/
CMakeCache.txt
cmake-build-*/
*.cmake



*.save
*~
*.swp
*.swo
.#*
