
.DS_Store
Thumbs.db
ehthumbs.db


node_modules/
__pycache__/
.venv/
.env
.env.*


.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
compile_commands.json


*.o
*.obj
*.out
*.exe
*.a
*.so
*.dll
*.dylib
*.gch
*.pch
*.d
a.out


build/
bin/
dist/
out/


CMakeFiles/
CMakeCache.txt
cmake-build-*/
*.cmake



*.save
*~
*.swp
*.swo
.#*

Segundo corte/Ejercicios de practica 2/mejor_tiempo_para_comprar_y_vender
Segundo corte/Ejercicios de practica 2/numero_de_columna_de_excel
Segundo corte/Ejercicios de practica 2/triangulo_de_pascal
Segundo corte/Ejercicios de practica 2/triangulo_de_pascal
Segundo corte/Ejercicios de practica 2/numero_de_columna_de_excel
Segundo corte/Ejercicios de practica 2/mejor_tiempo_para_comprar_y_vender
